<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swpu.uchain.community.dao.TimeInfoMapper" >
  <resultMap id="BaseResultMap" type="com.swpu.uchain.community.entity.TimeInfo" >
    <id column="time_id" property="timeId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="time_date" property="timeDate" jdbcType="VARCHAR" />
    <result column="time_in" property="timeIn" jdbcType="VARCHAR" />
    <result column="time_out" property="timeOut" jdbcType="VARCHAR" />
    <result column="time_state" property="timeState" jdbcType="VARCHAR" />
    <result column="time_valid" property="timeValid" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from time_info
    where time_id = #{timeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.swpu.uchain.community.entity.TimeInfo" >
    insert into time_info (time_id, user_id, time_date, 
      time_in, time_out, time_state, 
      time_valid)
    values (#{timeId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{timeDate,jdbcType=VARCHAR}, 
      #{timeIn,jdbcType=VARCHAR}, #{timeOut,jdbcType=VARCHAR}, #{timeState,jdbcType=VARCHAR}, 
      #{timeValid,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.swpu.uchain.community.entity.TimeInfo" >
    update time_info
    set user_id = #{userId,jdbcType=VARCHAR},
      time_date = #{timeDate,jdbcType=VARCHAR},
      time_in = #{timeIn,jdbcType=VARCHAR},
      time_out = #{timeOut,jdbcType=VARCHAR},
      time_state = #{timeState,jdbcType=VARCHAR},
      time_valid = #{timeValid,jdbcType=VARCHAR}
    where time_id = #{timeId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select time_id, user_id, time_date, time_in, time_out, time_state, time_valid
    from time_info
    where time_id = #{timeId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select time_id, user_id, time_date, time_in, time_out, time_state, time_valid
    from time_info
  </select>
</mapper>